.container{
    background-color: var(--color-00);
    width: 100%;
    height: auto;
    min-height: 100vh;
}

.box_header{
    width: 95%;
    height: 120px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.logoName{
    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 16px;
    position: relative;
    top: -65px;
    right: -42px;
}
.logoDescripion{
    font-family: var(--font-logo);
    font-weight: 400;
    font-size: 10px;
    position: relative;
    top: -77px;
    left: 154px;
}

.logo_whatsapp{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    position: fixed;
    right: 18px;
    top: 46px;
    border-radius: 50%;
    z-index: 1;
   
}

.box_header--figure{
   width: 100%;
   height: 190px;

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   color: var(--gold-00);
}

.box_header--figure-logo{
    width: 190px;
    height: 190px;
}

.box_header--logo-img{
    width: 90px;
    height: 90px;
}
.box_header--socialNav{
    width: 225px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}


.box_main{
    width: 95%;
    margin: auto;
}

.box_photos{
    width: 99%;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box_photo--hairstyle{
    width: 340px;
    height: 355px;
    display: flex;
    align-items: center;
    flex-direction: column;
   
}
.photo_hairstyle{
    width: 270px;
    height: 350px;
    border-radius: 5px;
    border: 3px outset var(--gold-00);
}
.photo_descripition{
    color: var(--color-00);
    position: relative;
    bottom: 340px;
    width: 225px;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-main);

    backdrop-filter: blur(0px) saturate(180%);
    background-color: rgba(229, 229, 239, 0.43);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.photo_info--hairstyle, .photo_info--blonde, .photo_info--visagismo{
    width: 120px;
    height: 65px;
    position: relative;
    bottom: 125px;
    font-family: var(--font-main);
    font-weight: 500;

    backdrop-filter: blur(9px) saturate(180%);
    background-color: rgba(133, 30, 140, 0.46);
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.box_main--descripition{
    font-family: 'Courgette', cursive;
    color: var(--gold-00);
    font-weight: 400;
    font-size: 16px;
    width: 90%;
    margin: 19px auto 35px auto;
    border-bottom: 2px inset var(--pink-00);
}

.box_demostration{
    width: auto;
}

.redirect_logos{
    background-color: var(--color-00);
    color: var(--gold-00);
    border: none;
    display: flex;
    gap: 5px;
    align-items: center;
    
}

.descripion_name{
    color: var(--gold-00);
    font-family: var(--font-logo);
    margin: 65px 5px 15px 5px;
    border-bottom: 3px double var(--pink-00);
}

.box_hairstyle, .box_models, .box_blondes{
    width: 100%;
    height: 365px;
    overflow-x: auto;
    display: flex;
    
}

.descripion_space{
    font-family: var(--font-logo);
    font-size: 16px;
    color: var(--gold-00);
    border-bottom: 2px solid var(--pink-00);
    margin: 50px 5px 15px 5px
}



.box_photos--hairstyle, .box_photos--models{
    width: 243px;
    height: 333px;
    border-radius: 45px 2px;
    margin: 15px;
    backdrop-filter: blur(3px) saturate(180%);
    background-color: rgba(209, 90, 206, 0.48);
    border-bottom: 1px solid var(--pink-00);

}
.photos_models{
    width: 240px;
    height: 310px;
    border-radius: 40px 2px;
    margin: 15px;
    border: 2px ridge var(--gold-00);
}


.box_bride{
    width: 100%;
    height: 450px;
    overflow-y: auto;
    display: flex;
    gap: 10px;
}
.photos_brides{
    width: 275px;
    margin: 10px;
}    
.box_photos--brides{
    width: 245px;
    height: 320px;
}
.box_descripion--bride{  
    width: 95%;
    margin: auto;
}
.descripion_bride{
    color: var(--gold-00);
    font-family: var(--font-main);
    margin: 15px 5px 18px;
}
.descripion_bride--icon{
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 2px solid var(--pink-00);
    width: 95%;
    height: 45px;
    margin: auto;
    color: var(--gold-00);
}
.title_bride{
    color: var(--gold-00);
    font-size: 20px;
    font-family: var(--font-main);
    margin: 40px 10px 0px 10px;}

.photos_hairstyle--descripition{
    color: var(--color-00);
    margin: 5px;
}

.container_after, .container_space{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_space{
    width: 100%;
    margin: auto;
}
.box_space--img{
    width: 100%;
    margin: auto;
}


.redirect_schedule{
    width: 65%;
    margin: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gold-00);
    border: 4px ridge var(--gold-00);
    border-radius: 3px;
}
.redirect_schedule:hover{
    border: 4px groove var(--pink-00);
}

h4{
    color: var(--gold-00);
}

.container_work{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 25px 0px 15px 0px;
    gap: 6px;
    font-family: var(--font-main);
}
.container_work--img{
    width: 180px;
    border-radius: 50%;
}
.container_work--descripition{
    color: var(--gold-00);
    margin: 50px 10px 15px 10px;
}

.box_footer{
    border-top: 1px solid var(--gold-00);
    width: 100%;
    height: auto;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  
}
.information{
    color: var( --color-text-00);
    font-family: var(--font-main);
    font-size: 14px;
    margin: 5px;
}

.box_footer--socialNav{
    color: var(--gold-00);
    width: 200px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0px 0px 0px 25px;
}

.redirect_descripition{
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 15px;
}


dialog{
    width: 100%;
    height: 1000px;
    background-image: url("../acets/background/infoBack.jpg");
    background-position: center;
    background-position-x: 100%;
    background-position-y: 100%;
    background-repeat: no-repeat;
    color: var(--gold-00);
    border: none;
    z-index: 2;
}

.modal_box{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 55px 0px 0px 0px;
     
}
.modal_buttClose{
    color: var(--gold-00);
    font-size: 20px;
    position: fixed;
    top: 25px;
    right: 32px;
    
}
.modal_info{
    color: var(--gold-00);
    font-size: 20px;
    font-family: var(--font-main);
}


.box_after{
    width: 100%;
    display: flex;
    border-bottom: 9px double var(--pink-00);
}

.box_after--descripition{
    position: absolute;
    height: 25px;
    margin: 20px;
    font-family: var(--font-logo);
    font-weight: 600;
    font-size: 20px;
}
.box_after--descripition-right{
    position: absolute;
    right: 25px;
    margin: 20px;
    font-family: var(--font-logo);
    font-weight: 600;
    font-size: 20px;
}

.box_after--photo{
    width: 50%;
}